Debug
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/
*/**/bin/
.vs
*.lock.json
*.ide
*.suo
*.dll
*.pyc
*.log
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli 
*.tlh 
*.tmp 
*.tmp_proj
*.cache
*.o 
*.lo 
*.la 
*.al 
.libs 
*.so
.fake 
.idea 
*.sln.iml 
.cr
*.ide-shm
*.ide-wal
*.user
*.pubxml
Api.csproj.user
packages
